[Unit]
Description=Door Check Service
After=network.target
OnFailure=reboot.target

[Service]
Type=simple
User=pi0
WorkingDirectory=/home/pi0/Documents
ExecStart=/usr/bin/python /home/pi0/Documents/DoorCheck.py
Restart=always
RestartSec=30
StartLimitInterval=10min
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
